In [1]:
import pandas as pd

In [2]:
mcdonald_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data_adg/패스트푸드점/맥도날드.txt')
mcdonald_data['dong'] = mcdonald_data.apply(lambda x:x["address"].split()[2], axis=1)
mcdonald_data['gu'] = mcdonald_data.apply(lambda x:x["address"].split()[1], axis=1)

In [3]:
lotteria_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data_adg/패스트푸드점/롯데리아.txt')
lotteria_data['dong'] = lotteria_data.apply(lambda x:x["address"].split()[2], axis=1)
lotteria_data['gu'] = lotteria_data.apply(lambda x:x["address"].split()[1], axis=1)

In [4]:
burgerking_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data_adg/패스트푸드점/버거킹.txt')
burgerking_data['dong'] = burgerking_data.apply(lambda x:x["address"].split()[2], axis=1)
burgerking_data['gu'] = burgerking_data.apply(lambda x:x["address"].split()[1], axis=1)

In [5]:
kfc_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data_adg/패스트푸드점/케이에프씨.txt')
kfc_data['dong'] = kfc_data.apply(lambda x:x["address"].split()[2], axis=1)
kfc_data['gu'] = kfc_data.apply(lambda x:x["address"].split()[1], axis=1)

In [ ]:
k = 0
for i in mcdonald_data["gu"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

In [ ]:
k = 0
for i in mcdonald_data["dong"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

In [6]:
korea_data = pd.read_csv('C:/Users/multicampus/Yogeuncheo-PJT/data_gdr/1-2. 서울 법정동 주소목록(최종).txt', sep="\t")
korea_data["goo"] = korea_data.apply(lambda x:x["법정동명"].split()[1] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data["dong"] = korea_data.apply(lambda x:x["법정동명"].split()[2] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data.rename(columns={"법정동명":"address"}, inplace = True)
korea_data

           address  goo dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [7]:
new_mc = mcdonald_data.groupby("dong")
new_mc = pd.DataFrame(new_mc["address"].count())
new_mc.columns = ["맥도날드"]
new_korea_data = pd.merge(korea_data,new_mc,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드
0            서울특별시             0.0
1        서울특별시 종로구             0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0
..             ...  ...  ...   ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0

[493 rows x 4 columns]

In [8]:
new_lotte = lotteria_data.groupby("dong")
new_lotte = pd.DataFrame(new_lotte["address"].count())
new_lotte.columns = ['롯데리아']
new_korea_data = pd.merge(new_korea_data,new_lotte,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아
0            서울특별시             0.0   0.0
1        서울특별시 종로구             0.0   0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0
..             ...  ...  ...   ...   ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0

[493 rows x 5 columns]

In [9]:
new_burgerking = burgerking_data.groupby("dong")
new_burgerking = pd.DataFrame(new_burgerking["address"].count())
new_burgerking.columns = ['버거킹']
new_korea_data = pd.merge(new_korea_data,new_burgerking,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹
0            서울특별시             0.0   0.0  0.0
1        서울특별시 종로구             0.0   0.0  0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0  0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0  0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0  0.0
..             ...  ...  ...   ...   ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0  0.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0  0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0  3.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0  0.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0  0.0

[493 rows x 6 columns]

In [10]:
new_kfc = kfc_data.groupby("dong")
new_kfc = pd.DataFrame(new_kfc["address"].count())
new_kfc.columns = ['kfc']
new_korea_data = pd.merge(new_korea_data,new_kfc,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹  kfc
0            서울특별시             0.0   0.0  0.0  0.0
1        서울특별시 종로구             0.0   0.0  0.0  0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0  0.0  0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0  0.0  0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0  0.0  0.0
..             ...  ...  ...   ...   ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0  0.0  1.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0  0.0  0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0  3.0  1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0  0.0  0.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0  0.0  0.0

[493 rows x 7 columns]

In [11]:
new_korea_data["맥도날드"] = new_korea_data["맥도날드"].apply(lambda x:int(x))
new_korea_data["롯데리아"] = new_korea_data["롯데리아"].apply(lambda x:int(x))
new_korea_data["버거킹"] = new_korea_data["버거킹"].apply(lambda x:int(x))
new_korea_data["kfc"] = new_korea_data["kfc"].apply(lambda x:int(x))

In [12]:
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹  kfc
0            서울특별시               0     0    0    0
1        서울특별시 종로구               0     0    0    0
2    서울특별시 종로구 청운동  종로구  청운동     0     0    0    0
3    서울특별시 종로구 신교동  종로구  신교동     0     0    0    0
4    서울특별시 종로구 궁정동  종로구  궁정동     0     0    0    0
..             ...  ...  ...   ...   ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동     1     0    0    1
489  서울특별시 강동구 암사동  강동구  암사동     0     1    0    0
490  서울특별시 강동구 성내동  강동구  성내동     1     1    3    1
491  서울특별시 강동구 천호동  강동구  천호동     1     1    0    0
492  서울특별시 강동구 강일동  강동구  강일동     0     1    0    0

[493 rows x 7 columns]

In [13]:
new_korea_data.to_csv('C:/Users/multicampus/Yogeuncheo-PJT/data_adg/프렌차이즈 개수', header=True, index=False, encoding="UTF-8")