In [2]:
import pandas as pd

In [34]:
mcdonald_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data_adg/패스트푸드점/맥도날드.txt')
mcdonald_data['dong'] = mcdonald_data.apply(lambda x:x["address"].split()[2], axis=1)
mcdonald_data['gu'] = mcdonald_data.apply(lambda x:x["address"].split()[1], axis=1)

In [55]:
mcdonald_data

,Unnamed: 0,title,address,roadAddress,mapx,mapy,category,description,telephone,link,dong,gu
0,0,<b>맥도날드</b> 종로3가점,서울특별시 종로구 종로3가 10,서울특별시 종로구 종로 115,311020,552520,양식>햄버거,NaN,NaN,http://www.mcdonalds.co.kr/,종로3가,종로구
1,1,<b>맥도날드</b> 대학로점,서울특별시 종로구 동숭동 1-34,서울특별시 종로구 대학로 130 맥도널드,312061,553878,양식>햄버거,NaN,NaN,http://www.mcdonalds.co.kr/,동숭동,종로구
2,2,<b>맥도날드</b> 서울동묘역점,서울특별시 종로구 창신동 290,서울특별시 종로구 종로 339,313201,552784,양식>햄버거,NaN,NaN,NaN,창신동,종로구
3,3,<b>맥도날드</b> 성균관대점,서울특별시 종로구 명륜2가 197-1,서울특별시 종로구 창경궁로 241-1 김해만치과의원,311778,553935,양식>햄버거,NaN,NaN,NaN,명륜2가,종로구
4,4,<b>맥도날드</b> 안국역점,서울특별시 종로구 안국동 164,서울특별시 종로구 율곡로 45,310488,553163,양식>햄버거,NaN,NaN,http://www.mcdonalds.co.kr/,안국동,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,<b>맥도날드</b> 위례신도시점,서울특별시 송파구 장지동 896,서울특별시 송파구 위례광장로 290 위례중앙푸르지오2단지,324364,541785,양식>햄버거,NaN,NaN,NaN,장지동,송파구
96,96,<b>맥도날드</b> 강동구청점,서울특별시 강동구 성내동 539-2,서울특별시 강동구 성내로 15 삼육빌딩,322651,547929,양식>햄버거,NaN,NaN,http://www.mcdonalds.co.kr/,성내동,강동구
97,97,<b>맥도날드</b>서울둔촌DT점,서울특별시 강동구 둔촌동 517-2,서울특별시 강동구 양재대로 1382,323948,547817,양식>햄버거,NaN,NaN,NaN,둔촌동,강동구
98,98,<b>맥도날드</b> 굽은다리역DT,서울특별시 강동구 천호동 31-10,서울특별시 강동구 양재대로 1587,324475,549805,양식>햄버거,NaN,NaN,http://www.mcdonalds.co.kr/,천호동,강동구
99,99,<b>맥도날드</b> 상일동점,서울특별시 강동구 상일동 502,서울특별시 강동구 상일로6길 39 강동타워,327316,550049,양식>햄버거,NaN,NaN,NaN,상일동,강동구

In [36]:
k = 0
for i in mcdonald_data["gu"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

('강남구', 12)
('송파구', 6)
('서초구', 6)
('강북구', 5)
('노원구', 5)
('양천구', 5)
('종로구', 5)
('마포구', 5)
('구로구', 4)
('강동구', 4)
('동작구', 4)
('영등포구', 4)
('강서구', 4)
('금천구', 4)
('서대문구', 3)
('중랑구', 3)
('성북구', 3)
('중구', 3)
('동대문구', 3)
('은평구', 3)
('광진구', 2)
('성동구', 2)
('용산구', 2)
('도봉구', 2)
('관악구', 1)
100

In [45]:
k = 0
for i in mcdonald_data["dong"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

('미아동', 3)
('서초동', 3)
('가산동', 3)
('논현동', 3)
('삼성동', 3)
('역삼동', 2)
('신월동', 2)
('상계동', 2)
('양재동', 2)
('구로동', 2)
('행당동', 2)
('신사동', 2)
('번동', 2)
('신정4동', 1)
('갈현2동', 1)
('종로3가', 1)
('대치동', 1)
('상봉2동', 1)
('화곡동', 1)
('목동', 1)
('서교동', 1)
('명륜2가', 1)
('등촌동', 1)
('천호동', 1)
('노량진동', 1)
('신림동', 1)
('화양동', 1)
('상도동', 1)
('중계동', 1)
('장안동', 1)
('잠실본동', 1)
('둔촌동', 1)
('도봉동', 1)
('창신동', 1)
('창천동', 1)
('청담동', 1)
('응암동', 1)
('이문동', 1)
('명동1가', 1)
('홍제동', 1)
('공릉동', 1)
('이태원동', 1)
('동자동', 1)
('을지로1가', 1)
('신내동', 1)
('흑석동', 1)
('방배1동', 1)
('전농동', 1)
('고척동', 1)
('동소문동1가', 1)
('동숭동', 1)
('쌍문동', 1)
('망우동', 1)
('안국동', 1)
('양평동3가', 1)
('사당동', 1)
('신길동', 1)
('상일동', 1)
('여의도동', 1)
('동교동', 1)
('안암동5가', 1)
('염창동', 1)
('성내동', 1)
('신도림동', 1)
('하계동', 1)
('망원동', 1)
('장지동', 1)
('종암동', 1)
('신정동', 1)
('자양2동', 1)
('가락동', 1)
('회현동3가', 1)
('남가좌동', 1)
('신천동', 1)
('시흥동', 1)
('영등포동3가', 1)
('잠실동', 1)
('공항동', 1)
('구산동', 1)
('상암동', 1)
('송파동', 1)
('도화동', 1)
100

In [156]:
korea_data = pd.read_csv('C:/Users/multicampus/Yogeuncheo-PJT/data_gdr/1-2. 서울 법정동 주소목록(최종).txt', sep="\t")
korea_data["goo"] = korea_data.apply(lambda x:x["법정동명"].split()[1] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data["dong"] = korea_data.apply(lambda x:x["법정동명"].split()[2] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data

              법정동명  goo dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [157]:
korea_data.rename(columns={"법정동명":"address"}, inplace = True)

In [158]:
korea_data

           address  goo dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [160]:
new_mc = mcdonald_data.groupby("dong")
new_mc = pd.DataFrame(new_mc["address"].count())
new_mc.columns = ["mac"]
new_korea_data = pd.merge(korea_data,new_mc,on="dong" ,how="left").fillna(0).apply()

In [164]:
new_korea_data["mac"] = new_korea_data["mac"].apply(lambda x:int(x))

In [165]:
new_korea_data

           address  goo dong  mac
0            서울특별시              0
1        서울특별시 종로구              0
2    서울특별시 종로구 청운동  종로구  청운동    0
3    서울특별시 종로구 신교동  종로구  신교동    0
4    서울특별시 종로구 궁정동  종로구  궁정동    0
..             ...  ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동    1
489  서울특별시 강동구 암사동  강동구  암사동    0
490  서울특별시 강동구 성내동  강동구  성내동    1
491  서울특별시 강동구 천호동  강동구  천호동    1
492  서울특별시 강동구 강일동  강동구  강일동    0

[493 rows x 4 columns]